<div class="container">
	<div class="heading">
		<h1>Reset Password</h1>
	</div>

	<mat-card>
		<mat-card-content *ngIf="tokenStatus">
			<p>Enter your new password.</p>
			<form [formGroup]="passwordForm" (submit)="onSubmit(passwordForm)" novalidate>
				<div class="password-inputs">
					<mat-form-field>
						<input matInput formControlName="newPassword" placeholder="New Password">
						<mat-error *ngIf="passwordForm.controls.newPassword.errors?.required && passwordForm.controls.newPassword.touched">
							*Required
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="confirmPassword" placeholder="Confirm Password">
						<mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.required && passwordForm.controls.confirmPassword.touched">
							*Required
						</mat-error>
					</mat-form-field>

					<div *ngIf="tokenMessage">
						<mat-error>{{ tokenMessage }}</mat-error>
					</div>
				</div>

				<button mat-raised-button color="primary" type="submit" [disabled]="tokenStatus.status == 'ERROR'">Change Password</button>
				<button mat-raised-button color="primary" *ngIf="tokenStatus.status == 'ERROR'" routerLink="/home/forgot-password">Request New Token</button>

			</form>
		</mat-card-content>
	</mat-card>
</div>