.profile-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-main, .profile-details {
    width: 350px;
}

.star {
    vertical-align: sub;
}

.biker-image {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-bottom: 24px;
}

.chat-button {
    float: right;
    margin-top: -65px;
}

.ratings-container {
    margin-bottom: 24px;

    form {
        padding: 24px;
    }
}

.rating-comment {
    display: block;
}

.add-rating {
    position: absolute;
    right: 24px;
}

.ratings, .bikes {
    width: 746px;
    margin-top: 24px;
}

@media only screen and (max-width: 800px) {

    .ratings, .bikes {
        width: 350px;
    }

    .profile-container {
        width: 398px;
    }

    .profile-main, .profile-details {
        width: 100%;
    }
}