.find-biker {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.filter-bikers {
    margin-bottom: 24px;
    font-size: 16px;

    .fill-remaining-space {
        flex: 1 1 auto;
    }

    .mat-form-field {
        padding: 0 5px;
        width: 150px;
    }

    .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.biker-card {
    width: calc(100% - 30px);
    margin: 0px 0px 30px;
}

.biker-image {
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: -24px -24px 25px -24px !important;
}

.chat-button {
    float: right;
    margin-top: -65px;
}

@media only screen and (min-width: 700px) {
    .biker-card {
        width: calc(50% - 60px);
    }
}

@media only screen and (min-width: 1050px) {
    .biker-card {
        width: calc(33% - 60px);
    }
}

@media only screen and (min-width: 1500px) {
    .biker-card {
        width: calc(25% - 60px);
    }
}

@media only screen and (max-width: 420px) {
    .find-biker {
        width: calc(100vw - 20px);
    }
}

@media only screen and (max-width: 599px) {
    .mat-card {
        padding: 24px;
    }
}

