<div class="container">

    <div class="heading">
        <h1>
            Find Biker
        </h1>
    </div>

    <div class="card-container">

        <mat-card class="biker-card" *ngFor="let user of users">
            <div class="biker-image" style="background-image: url('../../assets/img/bg-bike1.jpg')" routerLink="{{ user.username }}"></div>
            <mat-card-content>
                <h3>{{ user.username }}</h3>
                <p>Average Rating: 5</p>
                <button mat-fab color="primary" class="chat-button" type="button"><mat-icon>chat</mat-icon></button>
            </mat-card-content>
        </mat-card>

    </div>

</div>