.biker-card {
    width: 350px;
    margin: 0px 0px 30px;
}

.biker-image {
    width: 398;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: -24px -24px 25px -24px !important;
}

.chat-button {
    float: right;
    margin-top: -65px;
}