<div class="find-biker">

    <div class="card-container">
        <mat-toolbar class="filter-bikers">
            <span class="fill-remaining-space"></span>
            <mat-form-field>
                <mat-select [(ngModel)]="filterArea" (change)="onChangeArea()">
                    <mat-option *ngFor="let option of areas" [value]="option.id">{{ option.name }}</mat-option>
                </mat-select>
                <mat-icon matPrefix>place</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </mat-toolbar>

        <mat-card class="biker-card" *ngFor="let user of filteredUsers | filterBikers: search">
            <div *ngIf="user === -1"> No biker found </div>
            <div class="biker-image" [style.background]="'url(../../assets/img/' + user.image + ')'" routerLink="biker/{{ user.username }}"></div>
            <mat-card-content *ngIf="user !== -1">
                <h3>{{ user.username }}</h3>
                <p *ngIf="user.ratings.length">Average Rating: {{ calculateAverage(user.ratings) }}</p>
                <p *ngIf="!user.ratings.length">No ratings yet</p>
                <button mat-fab color="primary" class="chat-button" type="button">
                    <mat-icon>chat</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card class="biker-card" *ngIf="filteredUsers.length === 0">
            <div> No biker found </div>
        </mat-card>
    </div>
</div>