<div class="container">
	<div class="heading">
		<h1>Forgot Password</h1>
	</div>

	<mat-card>
		<mat-card-content>
			<p>Please enter the email address you used to sign up. You will recieve an email with a link to reset your password.</p>
			<form [formGroup]="emailForm" (submit)="onSubmit(emailForm)" novalidate>
				<div class="email-input">
					<mat-form-field>
						<input matInput formControlName="email" placeholder="Email">
						<mat-error *ngIf="emailForm.controls.email.errors?.required && emailForm.controls.email.touched">
							*Required
						</mat-error>
					</mat-form-field>

					<div *ngIf="statusMessage">
						<mat-error>{{ statusMessage }}</mat-error>
					</div>
				</div>

				<button mat-raised-button color="primary" type="submit">Send Email</button>

			</form>
		</mat-card-content>
	</mat-card>
</div>