<div class="container">

	<div class="messages-container">
		<mat-card class="contacts" *ngIf="conversations">
			<mat-card-content>
				<mat-list role="list">
					<mat-list-item role="listitem" *ngFor="let conversation of conversations" routerLink="{{conversation.id}}" routerLinkActive="active">
						<img matListAvatar *ngIf="conversation.users[0]" src="../../assets/img/{{conversation.users[0].image}}" alt="...">
						<img matListAvatar *ngIf="!conversation.users[0]" src="../../assets/img/deleted-user.png" alt="...">
						<h4 matLine *ngIf="conversation.users[0]">{{ conversation.users[0].username }}</h4>
						<h4 matLine *ngIf="!conversation.users[0]">Deleted User</h4>
						<p matLine>Apr 18, 2018</p>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>

		<router-outlet></router-outlet>

	</div>

</div>