.messages-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 64px);
    justify-content: center;
}

.contacts {
    width: 280px;
    padding: 0;

    .mat-list-item {
        cursor: pointer;
    }

    .active {
        background: #616161;
    }
}

