<mat-toolbar color="primary" class="desktop-nav">
	<button mat-button routerLink="overview"><h2>Find a Biker</h2></button>
	<button mat-button routerLink="messages">Messages</button>
	<!-- <button mat-button routerLink="users">Users</button> -->
	<button mat-button (click)="logout()">Logout</button>

	<div class="logged-in-user" routerLink="profile" *ngIf="user">
		<p>{{ user.username }}</p>
		<div class="profile-img" [style.background]="'url(../../assets/img/' + user.image + ')'"></div>
	</div>
</mat-toolbar>

<button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
	<mat-icon class="menu-icon">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item>
		<mat-icon>dialpad</mat-icon>
		<span>Redial</span>
	</button>
	<button mat-menu-item disabled>
		<mat-icon>voicemail</mat-icon>
		<span>Check voicemail</span>
	</button>
	<button mat-menu-item>
		<mat-icon>notifications_off</mat-icon>
		<span>Disable alerts</span>
	</button>
</mat-menu>



<router-outlet></router-outlet>