<mat-toolbar color="primary" class="desktop-nav">
	<button mat-button routerLink="/portal" id="btnPortal"><h2>Find a Biker</h2></button>
	<button mat-button routerLink="messages">Messages</button>
	<button mat-button (click)="logout()">Logout</button>

	<div class="logged-in-user" routerLink="profile" *ngIf="user">
		<p>{{ user.username }}</p>
		<div class="profile-img" [style.background]="'url(../../assets/img/' + user.image + ')'"></div>
	</div>
</mat-toolbar>

<button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
	<mat-icon class="menu-icon">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item routerLink="/portal">
		<mat-icon>home</mat-icon>
		<span>Home</span>
	</button>
	<button mat-menu-item routerLink="messages">
		<mat-icon>chat</mat-icon>
		<span>Messages</span>
	</button>
	<button mat-menu-item routerLink="profile">
		<mat-icon>person</mat-icon>
		<span>Profile</span>
	</button>
	<button mat-menu-item (click)="logout()">
		<mat-icon>power_settings_new</mat-icon>
		<span>Logout</span>
	</button>
</mat-menu>

<router-outlet></router-outlet>