<div class="container">
	<div class="heading">
		<h1>Register</h1>
	</div>

	<mat-card>
		<mat-card-content>
			<form id="registerForm" [formGroup]="registerForm" (submit)="onSubmit(registerForm)" novalidate>

				<div>
					<mat-form-field>
						<input matInput formControlName="username" placeholder="Username">
						<mat-error *ngIf="registerForm.controls.username.errors && registerForm.controls.username.touched">
							<span *ngIf="registerForm.controls.username.errors?.required">*Reguired</span>
							<span *ngIf="registerForm.controls.username.errors?.minlength">Min 3 characters required</span>
							<span *ngIf="registerForm.controls.username.errors?.maxlength">Max 25 characters allowed</span>
							<span *ngIf="registerForm.controls.username.errors?.usernameTaken === true">Username already in use</span>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-select formControlName="area" placeholder="Home area">
							<mat-option *ngFor="let option of areas" [value]="option.id">{{ option.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="registerForm.controls.area.errors?.required && registerForm.controls.area.touched">
							*Reguired
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input matInput formControlName="password" placeholder="Password">
						<mat-error *ngIf="registerForm.controls.password.errors && registerForm.controls.password.touched">
							<span *ngIf="registerForm.controls.password.errors?.required">*Reguired</span>
						</mat-error>

					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="repeat" placeholder="Repeat password">
						<mat-error *ngIf="registerForm.controls.repeat.errors && registerForm.controls.repeat.touched">
							<span *ngIf="registerForm.controls.repeat.errors?.required">*Reguired</span>
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input matInput formControlName="email" placeholder="Email">
						<mat-error *ngIf="registerForm.controls.email.errors && registerForm.controls.email.touched">
							<span *ngIf="registerForm.controls.email.errors?.required">*Reguired</span>
							<span *ngIf="registerForm.controls.email.errors?.emailTaken === true">Email already in use</span>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="phone" placeholder="Phone">
						<mat-error *ngIf="registerForm.controls.phone.errors?.required && registerForm.controls.phone.touched">
							*Reguired
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input matInput formControlName="firstname" placeholder="Firstname">
						<mat-error *ngIf="registerForm.controls.firstname.errors?.required && registerForm.controls.firstname.touched">
							*Reguired
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="lastname" placeholder="Lastname">
						<mat-error *ngIf="registerForm.controls.lastname.errors?.required && registerForm.controls.lastname.touched">
							*Reguired
						</mat-error>
					</mat-form-field>
				</div>

				<button id="submitUser" mat-raised-button color="primary" type="submit">Register</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>