<div class="form-container">
	<form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" novalidate>
		<h1>Login</h1>

		<div>
			<mat-form-field>
				<input matInput formControlName="username" placeholder="Username">
				<mat-error *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
					You must fill out a username.
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="password" placeholder="Password">
				<mat-error *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
					You must fill out your password.
				</mat-error>
			</mat-form-field>
		</div>

		<button mat-raised-button color="primary" type="submit">Login</button>

	</form>
</div>