<form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" novalidate>
	<h1>Login</h1>
	<label>Username:
		<input formControlName="username">
	</label>
	<div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
		You must fill out your username.
	</div>

	<label>Password:
		<input formControlName="password">
	</label>
	<div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
		You must fill out your password.
	</div>

	<p>Form value: {{ loginForm.value | json }}</p>
	<p>Form status: {{ loginForm.status | json }}</p>

	<button type="submit">Login</button>

</form>