h1 {
    text-align: center;
}

#user-listing {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.list-card {
    width: 450px;
    margin-bottom: 40px;

    .user-listing-item {
        margin-left: -15px;
        margin-right: -15px;
    }
}

