

    <mat-card class="list-card" *ngIf="user">
		<mat-card-title>{{ user.username }}</mat-card-title>
		<mat-card-content>




            <mat-action-row>
                <button mat-raised-button color="warn">Delete</button>
                <button mat-raised-button color="primary" (click)="onUserClick()">Save</button>
            </mat-action-row>
		</mat-card-content>
	</mat-card>

    <!-- <form id="updateUserForm" [formGroup]="updateUserForm" (submit)="onSubmit(updateUserForm)" novalidate>
    
            <div>
                <mat-form-field>
                    <input matInput formControlName="username" placeholder="Username">
                    <mat-error *ngIf="updateUserForm.controls.username.errors && updateUserForm.controls.username.touched">
                        <span *ngIf="updateUserForm.controls.username.errors?.required">Username is required</span>
                        <span *ngIf="updateUserForm.controls.username.errors?.minlength">Min 3 characters required</span>
                        <span *ngIf="updateUserForm.controls.username.errors?.maxlength">Max 25 characters allowed</span>
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput formControlName="area" placeholder="Home area">
                    <mat-error *ngIf="updateUserForm.controls.area.errors?.required && updateUserForm.controls.area.touched">
                        Area is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field>
                    <input matInput formControlName="firstname" placeholder="Firstname">
                    <mat-error *ngIf="updateUserForm.controls.firstname.errors?.required && updateUserForm.controls.firstname.touched">
                        You must fill out your firstname.
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput formControlName="lastname" placeholder="Lastname">
                    <mat-error *ngIf="updateUserForm.controls.lastname.errors?.required && updateUserForm.controls.lastname.touched">
                        You must fill out your lastname.
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field>
                    <input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="updateUserForm.controls.birthdate.errors?.required && updateUserForm.controls.birthdate.touched">
                        You must fill out your baby's birthdate.
                    </mat-error>
                </mat-form-field>
    
    
                <mat-form-field>
                    <mat-select formControlName="gender" placeholder="Gender">
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                    <mat-error *ngIf="updateUserForm.controls.gender.errors?.required && updateUserForm.controls.gender.touched">
                        You must fill out your gender.
                    </mat-error>
                </mat-form-field>
            </div>
    
            <button id="submitNewBaby" mat-raised-button color="primary" type="submit">Register</button>
        </form> -->

