<div class="form-container">
	<form id="registerBabyForm" [formGroup]="registerBabyForm" (submit)="onSubmit(registerBabyForm)" novalidate>
		<h1>Register baby</h1>

		<div>
			<mat-form-field>
				<input matInput formControlName="username" placeholder="Username">
				<mat-error *ngIf="registerBabyForm.controls.username.errors && registerBabyForm.controls.username.touched">
					<span *ngIf="registerBabyForm.controls.username.errors?.required">Username is required</span>
					<span *ngIf="registerBabyForm.controls.username.errors?.minlength">Min 3 characters required</span>
					<span *ngIf="registerBabyForm.controls.username.errors?.maxlength">Max 25 characters allowed</span>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="area" placeholder="Home area">
				<mat-error *ngIf="registerBabyForm.controls.area.errors?.required && registerBabyForm.controls.area.touched">
					Area is required
				</mat-error>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<input matInput formControlName="password" placeholder="Password">
				<mat-error *ngIf="registerBabyForm.controls.password.errors && registerBabyForm.controls.password.touched">
					<span *ngIf="registerBabyForm.controls.password.errors?.required">Password is required</span>
				</mat-error>

			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="repeat" placeholder="Repeat password">

			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<input matInput formControlName="firstname" placeholder="Firstname">
				<mat-error *ngIf="registerBabyForm.controls.firstname.errors?.required && registerBabyForm.controls.firstname.touched">
					You must fill out your firstname.
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="lastname" placeholder="Lastname">
				<mat-error *ngIf="registerBabyForm.controls.lastname.errors?.required && registerBabyForm.controls.lastname.touched">
					You must fill out your lastname.
				</mat-error>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Birthdate">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error *ngIf="registerBabyForm.controls.birthdate.errors?.required && registerBabyForm.controls.birthdate.touched">
					You must fill out your baby's birthdate.
				</mat-error>
			</mat-form-field>


			<mat-form-field>
				<mat-select formControlName="gender" placeholder="Gender">
					<mat-option value="female">Female</mat-option>
					<mat-option value="male">Male</mat-option>
					<mat-option value="other">Other</mat-option>
				</mat-select>
				<mat-error *ngIf="registerBabyForm.controls.gender.errors?.required && registerBabyForm.controls.gender.touched">
					You must fill out your gender.
				</mat-error>
			</mat-form-field>
		</div>

		<button id="submitNewBaby" mat-raised-button color="primary" type="submit">Register</button>
	</form>
</div>