<div class="container">

	<div class="index-container">
		<div class="login-text">
			<div class="heading">
				<h1>
					Find A Biker
				</h1>
			</div>
			<div>
				<h4>Are you tired of riding alone? Despair no longer!</h4>
				<p>Find A Biker is your new Copenhagen based road companion.</p>
			</div>
		</div>
		<!-- <div class="info-box">

			<mat-card>
				<mat-card-content>

					<p>
						Create a profile for you and your two-wheeled lady, and we will help you find like-minded bikers in your area.
					</p>

					<button mat-raised-button color="primary" type="button" routerLink="register">Get riding today</button>

				</mat-card-content>
			</mat-card>
		</div> -->
		<div class="login-nav">
			<mat-card>
				<h2>Login</h2>
			</mat-card>

			<mat-card>
				<h2>Signup with Email</h2>
			</mat-card>

			<mat-card>
				<h2>Signup with Google</h2>
			</mat-card>

			<mat-card>
				<h2>Signup with Facebook</h2>
			</mat-card>
		</div>
	</div>

</div>