<mat-toolbar color="primary" class="desktop-nav">
    <span mat-button routerLink="/home">FindASitter </span>
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="register" id="navRegister">Signup</button>
</mat-toolbar>

<button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon class="menu-icon">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-menu-item routerLink="login">
        <mat-icon>lock_open</mat-icon>
        <span>Login</span>
    </button>
    <button mat-menu-item routerLink="register">
        <mat-icon>mail_outline</mat-icon>
        <span>Signup</span>
    </button>
</mat-menu>





<router-outlet></router-outlet>