<mat-toolbar color="primary">
  <span>FindASitter </span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="contact">Contact</button>
  <button mat-button routerLink="login">Login</button>
  <!-- <button mat-button [matMenuTriggerFor]="menu">Register</button> -->
  <button mat-button routerLink="register-baby" id="navRegisterBaby">Register baby</button>

  <mat-menu color="primary" #menu="matMenu">
    <button mat-button routerLink="register-sitter">Register sitter</button>
    
  </mat-menu>

</mat-toolbar>




<router-outlet></router-outlet>